PORT=5000
MONGO_URI=mongodb+srv://Aditya:Balwinder@cluster1.yjvda8w.mongodb.net/truthlens
JWT_SECRET=81b891fd2c0b02f8fa3f91fdcd916d8801d9222f3f9b0ccea72c89673f65ba54
OPENAI_API_KEY=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
GEMINI_API_KEY=AQ.Ab8RN6J-Szz7MtrWSUwuyWsxShYSMiv2m0mqziPZcp9A3n7dgA
NEWS_API_KEY=9ef0183f887f4d6f879602c9fa00d173
FACT_CHECK_API_KEY=AIzaSyDWvTdb3zFQF-xoNO0BKI7m4ZTou1mcKPQ
